{% extends "main/looks.html" %}

{% block title %}
Головна сторінка
{% endblock %}

{% block content %}
<section class="hero">
    <h1>Ласкаво просимо до Task Board!</h1>
    <p>Керуйте своїми завданнями легко та ефективно за допомогою цієї платформи.</p>
</section>

<section class="features">
    <div class="feature">
        <h2>Простота використання</h2>
        <p>Інтуїтивно зрозумілий інтерфейс допоможе вам працювати швидше.</p>
    </div>
    <div class="feature">
        <h2>Швидкість</h2>
        <p>Миттєве оновлення завдань.</p>
    </div>
    <div class="feature">
        <h2>Гнучкість</h2>
        <p>Налаштовуйте під свої потреби: додавання колонок, зміна статусів та інше.(W.I.P.)</p>
    </div>
{% endblock %}